<!DOCTYPE html>
<html lang="en">

<head>

    <title>Inventario</title>
    <link rel="icon" type="image/png" href="favicon.png" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="tailwind.css" />
    <link rel="stylesheet" href="tailwind.build.css" />
    <link rel="stylesheet" href="somee.css" />

    <link rel="stylesheet" href="LIN.Inventory.Web.styles.css" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body class="bg-[#F7F8FD] h-dvh max-h-dvh min-h-dvh select-none overflow-hidden dark:bg-black">

    <div class="flex h-full w-full flex-grow flex-col">
        <Routes @rendermode="InteractiveWebAssembly" />
    </div>
   
    <script src="_framework/blazor.web.js"></script>

    <script src="./js/Flowbite.js"></script>
    <script src="./js/flowbite.min.js"></script>
    <script src="./js/charts.js"></script>
</body>

</html>
